html
    head
        title SERVER
        link(rel="stylesheet", href="../style.css")
    body
        h1 Profile

        h2 Pagina do perfil do #{nome}

        p Id: #{id}
        p Email: #{email}
        p Senha: #{senha}
        p Registrado em: #{registrado_em}
